        <h2>Let the Sharing Begin!</h2>

        <p>Now, you need to subtly <b>share this page</b> with friends and family and hope they feel generous.
        <br>Or, at least,  a little bit generous.</p>

        <p><strong>URL to share:</strong></p>
        <div class="well share">
        <a href="{{ absolute_url }}">{{ absolute_url }}</a>
        </div>

        <p>This page will look different when they visit it,
        click here to <a href="?preview=1">Preview What Your Friends and Family see</a>.
        </p>
