        <h2>Let the Sharing Begin!</h2>

        <p>Now, you need to subtly share this page with friends and family and hope they feel generous. Or, last a little bit generous.</p>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="absolute_url" class="col-lg-2 control-label">URL:</label>
            <div class="col-lg-10">
            <input type="text" id="absolute_url" value="{{ absolute_url }}" class="form-control">
            </div>
          </div>
        </form>

        <p>This page will look different when they visit it,
        click here to <a href="?preview=1">Preview What Your Friends and Family see</a>.
        </p>
