<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <h3 class="text-muted">
      <a href="/" title="Home page of {{ PROJECT_TITLE }}"><img src="{{ STATIC_URL }}icons/icon-48.png" alt="Logo"></a>
      <a href="/" title="Home page of {{ PROJECT_TITLE }}">{{ PROJECT_TITLE }}</a>
    </h3>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    {% block header_nav %}
    <ul class="nav navbar-nav navbar-right">
      {% if your_wishlist %}
      <li><a href="{% url 'main:wishlist_settings' your_wishlist.identifier %}" title="Administer your Wish List"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
      {% endif %}
      <li><a href="{% url 'main:help' %}">Help</a></li>
      <li><a href="{% url 'main:how_it_works' %}">How It Works</a></li>
    </ul>
    {% endblock %}
  </div><!-- /.navbar-collapse -->
</nav>
