<p>By accessing this web site, you agree to be bound by the terms of
use outlined below. The terms of use describe the legal framework in
which you will use WishListGranted as the Web site located at
<a href="http://wishlistgranted.com">wishlistgranted.com</a> (the "Site").
WishListGranted reserves the
right to modify any of the terms of use of the Site. Any modifications
will be effective immediately. Your continued use of this Site
following the posting of the modifications will constitute your
acceptance of such modification. If you do not agree to the amended
terms, you must stop using the Site. You can cancel your account at
any time by contacting WishListGranted customer service. We can cancel
your account, or otherwise refuse service to you, at any time for any
reason.</p>


<h4>Wish List Owners</h4>

<p>If you publish your Wish List on WishListGranted you are a “Wish
List Owner”, and you agree to and acknowledge the following:</p>

<ul>

<li>You authorize WishListGranted to purchase your Wish List item at a
price that is not greater than the price of your item as imported on
your Wish List, exclusive of any shipping or handling charges.</li>

<li>You acknowledge that if WishListGranted purchases your Wish List
item for you at a price less than the price of your item as imported
on your Wish List, WishListGranted may keep the difference.</li>

<li>You acknowledge that WishListGranted does not guarantee the price
of any item on your Wish List, nor does WishListGranted guarantee
shipment of your Wish List item upon purchase. We will make our best
efforts to contact you if your item has increased in price and will
work with you to address any difficulties you encounter in the
shipping of your item.</li>

<li>You acknowledge that if your Generous Friend makes a payment
towards your Wish List item, your Generous Friend will receive its
contribution, less any amounts payable to Balanced Payments, if you do
not receive enough contributions to purchase your Wish List item in 30
days from the date of the receipt of your first contribution toward
the Wish List item.</li>

</ul>

<h4>Generous Friends</h4>

<p>If you make a payment toward a Wish List for item the benefit of a
Wish List Owner, you are a “Generous Friend”, and you agree to and
acknowledge the following:</p>

<ul>
<li>You acknowledge that WishListGranted will refund to you all
amounts that you contribute toward a Wish List item, less any amounts
payable to Balanced Payments, if the Wish List Owner does not receive
enough contributions to purchase the particular Wish List item within
30 days from the date of the receipt of the first contribution for the
Wish List item.</li>

<li>You acknowledge that WishListGranted shall not be obligated to
refund any interest or similar amounts in connection with a refund of
your contribution towards a Wish List item.</li>

</ul>


<h4>Disclaimer</h4>

<p>The Site, the Site materials contained herein and the services
provided on or in connection with the Site are provided on an "as is"
basis without warranties of any kind, either express or implied.
WishListGranted does not represent or warrant that the site will work
property or be continuously available or that the site materials or
the services are accurate, complete, reliable, current or error-free.
WishListGranted does not represent or warrant that the site or its
servers are free of viruses or other harmful components. All use of
the site is at your own risk.</p>

<p>WishListGranted reserves the right to change any and all content
contained in the Site and any Services offered through the Site at any
time without notice.</p>

<p>WishListGranted shall not be liable for any lost profits or
special, incidental or consequential damages (however arising,
including negligence) arising out of or in connection with your use of
WishListGranted, the site, our services or this agreement. In any
event, by accepting the WishListGranted terms of use you specifically
agree that shall not be liable to you for more than the lesser of (i)
$100 or (ii) your Wish List item. You also specifically agree that you
shall not hold WishListGranted liable for claims, demands, or damages
of any kind or nature arising out of or in any way connected with a
dispute with any other user of WishListGranted.</p>

<h4>Governing Law / Arbitration</h4>

<p>This agreement is governed by California law. Any claim arising out
of or relating to this agreement or WishListGranted shall be settled
by binding arbitration in Santa Clara County. Any such claim shall be
arbitrated on an individual basis, not consolidated with another
party's claim, and no class arbitration proceedings shall be
permitted. WishListGranted may bypass arbitration in cases of fraud or
other crimes against us, interference with our technical operations or
violations of our rights or property, including without limitation our
intellectual property rights.</p>
