{% extends "main/base.html" %}

{% block document_title %}About This Site{% endblock %}

{% block main %}

      <div class="row marketing">
          <h1>About This Site</h1>
          <!--<img src="{{ STATIC_URL }}main/images/family.jpg" alt="Family" style="float: right;">-->
          <p>This web site was built by <b>Peter</b>, <b>Ashley</b> and <b>Tucker</b>.</p>
          <p>Actually little Tucker didn't do much other than drooling on his parents keyboards
          as they coded and tested this web site.</p>
          <p>
          <p>We built this web site entirely in our limited free time as a fun experiment
          to see if we can pull it off. <a href="http://www.peterbe.com">Peter</a> works as
          a Web Developer at <a href="https://www.mozilla.org">Mozilla</a> and Ashley works as
          a full time mom and web site tester. </p>
          <p>It's important to understand that we're just trying to build something
          fun that actually solves a real problem people have.</p>
          <p>&nbsp;</p>
          <p style="font-weight:bold">Lots of love, Peter, Ashley and Tucker!</p>
          <p><img src="{{ STATIC_URL }}main/images/steps.jpg" alt="Family" style=""></p>
          <p>&nbsp;</p>
          <p>If you have any questions, drop us an email on
          <a href="mailto:mail@wishlistgranted.com">mail@wishlistgranted.com</a>
          </p>

      </div>

{% endblock %}
