<!DOCTYPE html>
{% load compress %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ PROJECT_STRAPLINE }}">

    <title>{% block document_title %}{{ PROJECT_TITLE }}{% endblock %}</title>

    {% compress css %}
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}main/css/main.css" rel="stylesheet">
    {% endcompress %}
    <link href="{{ STATIC_URL }}main/images/favicon.ico" rel="shortcut icon" type="image/x-icon">


    <meta property="og:site_name" content="{{ PROJECT_TITLE }}">
    <meta name="twitter:site" content="@WishListGranted">
    {% block extra_opengraph %}
    <meta property="og:description" content="{{ PROJECT_STRAPLINE }}">
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

    <style>
      .notice {
        background-color: #FCF8E3;
        padding: 30px;
        border-bottom: 1px solid #EBCCD1;
        border-radius: 6px;
        margin-bottom: 40px;
      }
      .notice h3 { margin: 10px; text-align: center; }
      .notice h4 { margin: 30px; text-align: center; }

      body { padding-top:0; }
    </style>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}/assets/js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      <div class="notice">
        <h3>NOTE! This Project is No Longer Active</h3>
        <h4>As of October 2014 this project has been discontinued.
          The pages are left but the functionality is no more.</h4>
      </div>

    <div class="{% block container_class %}container{% endblock %}">
      {% block header %}
      {% include "main/_nav.html" %}
      {% endblock %}

      {% block main %}
      {% endblock %}

      <div class="footer">
        {% block footer %}
        <p style="float:right">
	  <a href="https://www.balancedpayments.com" target="_blank" title="Payments Secured by Balanced"><img src="{{ STATIC_URL }}main/images/balanced-payments.png" alt="Balanced Payments"></a>
	</p>
        <p>&copy; Wish List Granted<br>
	<a href="{% url 'main:about' %}">About This Site</a>
	<br>
        <a href="{% url 'main:terms' %}">Terms of Use</a>
       </p>
        {% endblock %}
      </div>

    </div> <!-- /container -->


{% block javascript %}
<script src="{{ STATIC_URL }}assets/js/jquery-1.10.2.min.js"></script>
<script src="{{ STATIC_URL }}assets/js/bootstrap.collapse.min.js"></script>
{% endblock %}



  </body>
</html>
