<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="@peterbe">
    <meta name="description" content="{{ PROJECT_STRAPLINE }}">

    <title>{% block document_title %}{{ PROJECT_TITLE }}{% endblock %}</title>

    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}main/css/main.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}main/images/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}/assets/js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}/assets/js/respond.min.js"></script>
    <![endif]-->

    <meta property="og:site_name" content="{{ PROJECT_TITLE }}">
    <meta name="twitter:site" content="@WishListGranted">
    {% block extra_opengraph %}
    <meta property="og:description" content="{{ PROJECT_STRAPLINE }}">
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

    {% if BALANCED_DEBUG %}
    <style>
      .notice {
        background-color: #FCF8E3;
        padding: 10px;
        border-bottom: 1px solid #EBCCD1;
        border-radius: 6px;
      }
      .notice h3 { margin-top: 0; }
      body { padding-top:0; }
    </style>
    {% endif %}
  </head>

  <body>
      {% if BALANCED_DEBUG %}
      <div class="notice">
        <h3>NOTE! Server is in Development Mode</h3>
        <p>This means that no real payment can be made and data entered might be lost. Please don't share unless for testing purposes.</p>
      </div>
      {% endif %}

    <div class="{% block container_class %}container{% endblock %}">
      {% block header %}
      {% include "main/_nav.html" %}
      {% endblock %}

      {% block main %}
      {% endblock %}

      <div class="footer">
        {% block footer %}
        <p style="float:right">
	  <a href="http://www.amazon.com" target="_blank" title="Using your Amazon.com&trade; Wish List"><img src="{{ STATIC_URL }}main/images/amazon.com-logo-180.jpg" alt="Amazon.com"></a>
	  <a href="https://www.balancedpayments.com" target="_blank" title="Payments Secured by Balanced"><img src="{{ STATIC_URL }}main/images/balanced-payments.png" alt="Balanced Payments"></a>
	</p>
        <p>&copy; Wish List Granted<br>
	<a href="{% url 'main:about' %}">About This Site</a>
	<br>
        <a href="{% url 'main:terms' %}">Terms of Use</a>
       </p>
        {% endblock %}
      </div>

    </div> <!-- /container -->


{% block javascript %}
<script src="{{ STATIC_URL }}assets/js/jquery-1.10.2.min.js"></script>
<script async src="{{ STATIC_URL }}assets/js/bootstrap.collapse.min.js"></script>
{% endblock %}

{% if USE_USERSNAP %}
<script type="text/javascript">
   var _usersnapconfig = {
       apiKey: '00a4a00e-d49b-4955-a4f7-dbf0087f8faf',
       valign: 'bottom',
       halign: 'right',
       tools: ["pen", "highlight", "note"],
       lang: 'en',
       commentBox: true,
       emailBox: true
   };
   (function() {
       var s = document.createElement('script');
       s.type = 'text/javascript';
       s.async = true;
       s.src = '//api.usersnap.com/usersnap.js';
       var x = document.getElementsByTagName('head')[0];
       x.appendChild(s);
   })();
</script>
{% endif %}

  </body>
</html>
