{% extends "main/base.html" %}
{% load thumbnail %}
{% load bootstrap %}

{% block document_title %}Close Your Item{% endblock %}

{% block extra_head %}
<style type="text/css">
</style>
{% endblock %}

{% block main %}

    {% if msg %}
    <div class="row marketing">
        <div class="alert alert-success alert-dismissable">
        <h4>{{ msg }}</h4>
        </div>
    </div>
    {% endif %}

    <div class="row marketing">
      <div class="col-lg-12">
        <h3>Close Your Item (<em>"{{ item.title }}"</em>)</h3>
        <p>
          When you <b>close</b> an item, it doesn't disappear but it no longer
          accepts any contributions.<br>
          This can be useful if you no longer want or need the item. Or perhaps the
          item is no longer available so there's no point wishing for it any more.
        </p>
        <form action="." method="post">{% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>

    <div class="row marketing another">
      <p>
      Go back to your
        <a href="{% url 'main:wishlist_settings' item.wishlist.identifier %}">Settings page</a>.
      </p>
    </div>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
function toggle_shade() {
  var notes_area = $('#id_closed_notes').parents('.form-group');

  if ($('#id_closed:checked').length) {
    // un-shade
    notes_area.fadeTo(200, 1.0);
  } else {
    // shade
    notes_area.fadeTo(200, 0.2);
  }
}

$(function() {
  toggle_shade();
  $('#id_closed').change(function() {
    toggle_shade();
  });
});
</script>
{% endblock %}
