{% extends "main/base.html" %}

{% block document_title %}Help{% endblock %}

{% block main %}

      <div class="row marketing">
          <h1>Help &amp; Frequently Asked Questions</h1>

	  <p>If you have any questions about how to use the site or any other
	  suggestions for improvements don't hesitate to send an email to
	  <a href="mailto:mail@wishlistgranted.com">mail@wishlistgranted.com</a></p>

	  <h4>What happens after 30 days is up and the total price is not reached?</h4>
	  <p>If only a relatively small amount is remaining, you can make a contribution
	  of your own.<br>
	  If the full amount is not reached within 30 days, all contributors will have
	  their payments refunded at no additional expense.
	  </p>

	  <h4>Can I contribute to my own Wish List?</h4>
	  <p>Yes you certainly can. Perhaps your friends have contributed some but not
	  all, you can contribute the remainder.</p>

          <h4>If I make a contribution and the total is <i>not</i> reached, do I get my money back?</h4>
          <p>Yes! If the total of the desired item on a Wish List is NOT reached within 30 days
          from the first contribution made, all contributions made are refunded.</p>

          <h4>Is this site secure enough to protect my credit card?</h4>
          <p>Yes! Because we <b>never store any credit card details</b> at all. It goes between you
          and <b>Balanced Payments&trade;</b> over a secure connection.</p>

          <h4>Why can't I just give you my email address I use on Amazon.com?</h4>
          <p>It's actually impossible. Because of privacy. The instructions might be complicated
          but this way your privacy is guraranteed.</p>

          <h4>How to find your Amazon Wish List</h4>
          <iframe
	    width="560" height="315"
	    src="//www.youtube.com/embed/CTZ8in6u_Oc?rel=0" frameborder="0" allowfullscreen></iframe>

          <h4>How to email in your Wish List</h4>
          <iframe
	    width="560" height="315"
	    src="//www.youtube.com/embed/e1Bdm_ZortE?rel=0" frameborder="0" allowfullscreen></iframe>

      </div>

{% endblock %}
