{% extends "main/base.html" %}

{% block document_title %}Get What you REALLY Want for Christmas{% endblock %}

{% block main %}

      <div class="jumbotron">
        <h1>Get What You REALLY Want for Christmas</h1>
        <p class="lead">Enter your Amazon&trade; Wishlist here and your
        friends can contribute toward you getting what you really want.</p>
        <p><a class="btn btn-lg btn-success" href="{% url "main:wishlist_start" %}">Set up your Wish List</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h3>1</h3>
          <p>You publish your Amazon&trade; Wishlist here</p>

          <h3>2</h3>
          <p>Share it with friends and family in some subtle way</p>

          <h3>3</h3>
          <p>They see what you want and make a small contribution</p>
        </div>

        <div class="col-lg-6">
          <h3>4</h3>
          <p>Your friend's money is held in escrow until we can afford your most wanted item</p>

          <h3>5</h3>
          <p>With enough contributions we buy the item off your Wishlist send it to you</p>

          <h3>6</h3>
          <p>Thank your friends and family with a hug or a kiss</p>
        </div>
      </div>


{% endblock %}
