{% extends "main/base.html" %}

{% block document_title %}Set up your Wish List{% endblock %}

{% block extra_head %}
<link href="{{ STATIC_URL }}assets/css/prettyPhoto.css" rel="stylesheet">
<style>
.instruction { padding: 15px; }
</style>
{% endblock %}

{% block main %}

      <div class="jumbotron">
        <h3>Get What You REALLY Want for Christmas</h3>
        <p class="lead">Enter your Amazon&trade; Wish List URL</p>
        <form action="." method="post">
        {% csrf_token %}
        <input type="text" name="amazon_id" class="form-control" placeholder="E.g. http://www.amazon.com/gp/registry/wishlist/4QOY1EVGY/">
        <button type="submit" class="btn btn-primary">Submit your Wish List</button>

        <div class="form-error alert alert-danger alert-dismissable" style="display:none">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Oh Snap! An error happened:</strong><br>
          <p></p>
        </div>

        <div class="form-progress progress progress-striped active" style="display:none">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
              <span class="sr-only">Processing processing processing</span>
          </div>
        </div>
        </form>

      </div>

    <div class="row marketing">
        <div class="form-error alert alert-info alert-dismissable">
        <p>
	  <b>Tip!</b>
          You <b>need to</b> be <b>signed in on Amazon.com</b> to the "Wishlist" to appear under the "Wish List" tab.</p>
        </div>
    </div>

      <div class="row instructions">

          <h2>Instructions</h2>

      <ul class="nav nav-tabs nav-justified">
        <li {% if not MOBILE %}class="active"{% endif %}><a href="#by-url-web">By URL (Web)</a></li>
        <li><a href="#by-email-web">By Email (Web)</a></li>
        <li {% if MOBILE %}class="active"{% endif %}><a href="#by-email-mobile">By Email (Mobile)</a></li>
      </ul>

        <div id="by-url-web" {% if MOBILE %}style="display:none"{% endif %} class="instruction">

	  <p style="text-align:center">
            <a href="http://www.youtube.com/watch?v=CTZ8in6u_Oc" rel="prettyPhoto" title="Video Tutorial -  How to find your Amazon Wish List URL"
	     >Watch how-to video</a><br>
	    <a href="http://www.youtube.com/watch?v=CTZ8in6u_Oc" rel="prettyPhoto" title="Video Tutorial -  How to find your Amazon Wish List URL"
	    ><img src="{{ STATIC_URL }}main/images/youtube-howto-200px.png" alt="YouTube" width="200"></a><br>

          </p>

          <h4>Go to your account on <a href="http://www.amazon.com" target="_blank">Amazon.com&trade;</a><br>
          Click on <b>Wish List</b> in the upper right-hand corner</h4>
          <p>
          <img src="{{ STATIC_URL }}main/images/corner.png" alt="How to get to your Wish List">
          </p>

          <p>(If you haven't already made a Wish List, you have to make one first :)</p>

          <h4>Once it's loaded, click on the address bar URL and copy that</h4>

          <p>
          <img src="{{ STATIC_URL }}main/images/url.png" alt="How to get to your Wish List">
          </p>
          <h4>Paste that (or just the Wish List ID) into the form above here on this page.</h4>


        </div>

        <div id="by-email-web" style="display:none" class="instruction">
          <p>
	    <a href="http://www.youtube.com/watch?v=e1Bdm_ZortE" rel="prettyPhoto" title="Video Tutorial -  How to find to email in your Wish List"
	    ><img src="{{ STATIC_URL }}main/images/youtube-howto-2-197px.png" alt="YouTube" width="197"></a><br>
	    <a href="http://www.youtube.com/watch?v=e1Bdm_ZortE" rel="prettyPhoto" title="Video Tutorial - How to find to email in your Wish List"
	     >How-to on emailing it in</a>
	  </p>

        </div>

        <div id="by-email-mobile" {% if not MOBILE %}style="display:none"{% endif %} class="instruction">
          <p>
            Go to <a href="{% url 'main:instructions_mobile' %}">Instructions for Mobile</a>
            for a step-by-step guide.
          </p>
        </div>


      </div>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{{ STATIC_URL }}assets/js/jquery.prettyPhoto.min.js"></script>
<script src="{{ STATIC_URL }}main/js/start.js"></script>
<script>
$(function() {
  $("a[rel^='prettyPhoto']").prettyPhoto({
    social_tools: ''
  });

  $('.instructions .nav a').click(function() {
    var id = $(this).attr('href');
    $('.instruction').not(id).hide();
    $(id).fadeIn(400);
    var nav = $('li.active', $(this).closest('.nav')).removeClass('active');
    $(this).closest('li').addClass('active');
  });

});

</script>
{% endblock %}
