{% extends "main/base.html" %}
{% load thumbnail %}
{% load extras %}
{% load compress %}

{% block document_title %}
{% if yours %}
This is what I want the most
{% else %}
This is what {{ wishlist.name_or_email }} wants the most
{% endif %}
{% endblock %}

{% block extra_opengraph %}
<meta property="og:type" content="website">
{% if wishlist.verified %}
<meta property="og:title" content="This is what {{ wishlist.name_or_email }} wants the most: {{ item.title }}">
<meta property="og:description" content="{{ item.title }}">
{% thumbnail item.picture "250x250" as thumb %}
<meta property="og:image" content="{% full_absolute_url thumb.url %}">
<meta property="og:image:width" content="{{ thumb.width }}">
<meta property="og:image:height" content="{{ thumb.height }}">
{% endthumbnail %}
{% if item %}
<meta property="og:url" content="{{ absolute_url }}">
{% endif %}
{% endif %}
{% endblock %}

{% block extra_head %}
<style type="text/css">
.please-wait,
.credit-card,
.help-block,
#thank-you,
#your-message,
form.pay .other-error,
#your-message .other-error,
#your-message-saved { display:none; }

form.pay .other-error p {
    color: red;
    font-weight: bold;
}

.share {
    font-weight: bold;
    text-align: center;
}
.share a {
    font-size: 24px;
}

#thank-you, #your-message {
    padding: 7px;
    background-color: #fff;
    /*transition: background 0.5s linear;*/
    transition: background 1.0s linear;
}
#thank-you.new, #your-message.new {
    background-color: rgb(221, 221, 221);
}

/* overrides from bootstrap */
#progress .progress {
    height: 30px;
    margin-bottom: 40px;
}
#progress .progress .label {
    font-size: 100%;
    line-height: 2.5;
}
.contributions .contribution {
    margin-bottom: 25px;
}
h2.days-left {
    text-align: center;
    margin-top: 0;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .days-left-outer {
        float: right;
    }
}
</style>
{% if yours %}
<style type="text/css">
#pageviews .views {
    font-size: 160%;
}
input.share-url {
    font-size: 22px;
}
.share-options li.active a {
    font-weight: bold;
}
</style>
{% endif %}
{% endblock %}

{% block main %}

    {% if not yours and not wishlist.verified %}
    <div class="row marketing">
        <div class="form-error alert alert-danger alert-dismissable">
        <h3>Wish List Not Verified</h3>
        <p>This Wish List has not been verified yet. Meaning the owner of it has not verified their
        email address.</p>
        </div>
    </div>
    {% endif %}

    {% if yours and not wishlist.verified %}
      {% if wishlist.verification_email_sent %}
        <div class="row marketing">
        {% include 'main/_verification_email_sent.html' %}
        </div>
      {% else %}
        {% if not wishlist.verified %}
        <div class="row marketing">
        {% include 'main/_your_name.html' %}
        </div>
        {% endif %}
      {% endif %}
    {% endif %}

      <div class="jumbotron">
        {% if yours %}
          <h2>This is what I want the most</h2>
        {% else %}
          <h2>This is what <i>{{ wishlist.name_or_email }}</i> wants the most</h2>
        {% endif %}
        {% thumbnail item.picture "250x250" as thumb %}
        <a href="{{ item.affiliates_url_or_url }}" target="_blank"><img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ item.title }}"></a>
        {% endthumbnail %}
        <h4>{{ item.title }}</h4>
        <h4 class="price">${{ item.price|floatformat:2 }}</h4>
        <p>You can read all about it on
        <a href="{{ item.affiliates_url_or_url }}" target="_blank">Amazon.com</a>
        </p>
      </div>

    <div class="row marketing" id="progress">

        {% if show_days_left %}
        <h4 class="days-left-outer">
          Days left<a data-toggle="modal" href="#days-left">?</a>:
          <span class="days-left">{{ days_left }}</span>
        </h4>
        {% endif %}

        <h4>Progress So Far <span class="price progress-amount">${{ progress_amount|floatformat:2 }}</span>
        out of <span class="price">${{ item.price|floatformat:2 }}</span></h4>
        <div class="progress">
          <div class="progress-bar {% if progress_complete %}progress-bar-success{% else %}progress-bar-info{% endif %}" role="progressbar"
               aria-valuenow="{{ progress_percent }}" aria-valuemin="0" aria-valuemax="100"
               style="width: {{ progress_percent }}%">
            <span class="sr-only">{{ progress_percent }}%</span>
            <span class="label">{{ progress_percent }}%</span>
          </div>
        </div>

    </div><!-- /#progress -->

    {% if yours and wishlist.verified %}
    {% if not item.closed %}
    <div class="row marketing">
      {% include "main/_begin_sharing.html" %}
    </div>
    {% endif %}
    {% endif %}

    <div class="row marketing">

      {% if wishlist.verified %}
        {% if not progress_complete %}
          {% if item.closed %}
            <p><strong>This Wish List item is current closed and can no longer accept contributions.</strong></p>
            {% if item.closed_notes %}
            <p>Please see the following message about it being closed:</p>
            <blockquote>{{ item.closed_notes }}</blockquote>
            {% endif %}
          {% else %}
            {% include "main/_pay_form.html" %}
          {% endif %}
        {% endif %}
      {% else %}
        <p>No contributions can be made on Wish Lists that haven't yet been verified.</p>
      {% endif %}

    </div>

    <div class="row marketing">

      <div id="thank-you">
        <h2>Thank You!</h2>
        <p>Your contribution of <b class="price amount"></b> has been accepted by
        <b>Balanced Payments&trade;</b>. You will see a charge of <b class="price actual-amount"></b>
          on you card.</p>

        <!-- this needs to depend on if it was met now or not -->
        <p class="not-yet-met">
          If the goal is not reached, your money will be refunded without any processing fees.
        </p>

        <h4>Again, Thank You!</h4>
        <p class="start-your-own">
          Do you want to <a href="{% url 'main:wishlist_start' %}">Start your own Wish List</a>?
        </p>
      </div><!-- /#thank-you -->

      <div id="your-message-saved">
        <h4>Your message has been saved and added to your contribution</h4>
      </div><!-- /#your-message-save -->

      <div id="your-message">
        <h2>Do you want to leave a message?</h2>
        <form action="{% url 'main:wishlist_your_message' item.identifier %}" class="form-horizontal" method="post" role="form">{% csrf_token %}
          <input type="hidden" name="payment" value="">
          <div class="form-group">
            <label for="id_name" class="col-lg-4 control-label">Name:</label>
            <div class="col-lg-8">
              <input type="text" id="id_name" name="name" class="form-control" placeholder="">
              <span class="help-block"></span>
            </div>
          </div>

          <div class="form-group">
            <label for="id_message" class="col-lg-4 control-label">Message:</label>
            <div class="col-lg-8">
              <textarea id="id_message" name="message" class="form-control"></textarea>
              <span class="help-block"></span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-offset-4 col-lg-8">
              <button type="submit" class="btn btn-default btn-primary">Submit Your Message</button>
              <button type="button" class="btn btn-default skip">No thanks. Skip this</button>
              <img src="{{ STATIC_URL }}main/images/spinner.gif" alt="Please wait" class="please-wait">
              <span class="please-wait">Please wait...</span>
            </div>
          </div>

          <div class="other-error has-error">
            <h4>Some unexpected error occurred</h4>
            <p>Your payment went through and it's connected to your email address at least.</p>
            <p>Please try again a little later.</p>
          </div>

        </form>
      </div><!-- /#your-message -->
    </div>


    <div class="row marketing" id="contributions">

      {% if yours %}

        {% if contributions %}
        <div class="contributions">
          <h3>Contributions made so far</h3>
          {% for payment in contributions %}
          <div class="contribution">
          <h4>{{ forloop.counter }}. From
            {% if payment.email == wishlist.email %}
             you yourself!
            {% else %}
              {% if payment.name and not payment.hide_name %}
                {{ payment.name }}
              {% elif payment.email and not payment.hide_email %}
                {{ payment.email }}
              {% else %}
                Anonymous
              {% endif %}
            {% endif %}
            <span class="price {% if payment.refund_amount %}refunded{% endif %}"
             >${{ payment.amount|floatformat:2 }}</span>
             {% if payment.refund_amount %}
              (<span class="price">${{ payment.refund_amount|floatformat:2 }}</span> refunded)
             {% endif %}
          </h4>
          {% if payment.message and not payment.hide_message %}
          <blockquote>
            {{ payment.message|linebreaks }}
          </blockquote>
          {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endif %}

      {% else %}


        {% if your_contributions %}
          <div class="your-contribution">
            <h3>You're a good person!</h3>
            {% for payment in your_contributions %}
            <h4>Thank you for your contribution of
              <span class="price">${{ payment.amount|floatformat:2 }}</span>.</h4>
            {% endfor %}
          </div>
        {% endif %}

      {% endif %}

    </div>

    {% if yours %}
    <div class="row marketing" id="pageviews">
      <h4>Number of pageviews this page has had:
      <span class="views">{{ views }}<sup>*</sup></span>
      </h4>
      <p><sup>*</sup> This is updated one week at a time meaning that number takes time to
      update. It also includes you yourself viewing your own Wish List.</p>
    </div>
    {% endif %}

  <!-- Modal (transaction-fee) -->
  <div class="modal fade" id="transaction-fee" tabindex="-1" role="dialog" aria-labelledby="about-transaction-fee" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="about-transaction-fee">About the Transaction Fee</h4>
        </div>
        <div class="modal-body">
          <p>
          <a href="https://www.balancedpayments.com/" target="_blank"><b>Balanced Payments&trade;</b></a> takes care of all credit card processing.<br>
          They <b>charge us 2.9%</b> of the amount plus a <b>base of 30 cents</b> for every transaction.
          <a href="https://www.balancedpayments.com/pricing">See for yourself</a>.
          </p>
          <p>
          To also cover the <strong>shipping cost</strong> we add a <b>tiny margin</b> on top of what Balanced Payments&trade; charges.
          </p>
          <p><b>For example...</b><br>
          If you make a contribution of <b class="price">${{ fee_example.amount|floatformat:2 }}</b> towards your friends Wish List, then...
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: {{ fee_example.amount_percentage }}%">
              <span class="sr-only">{{ fee_example.amount_percentage }}% Complete (success)</span>
            </div>
            <div class="progress-bar progress-bar-warning" style="width: {{ fee_example.base_percentage }}%">
              <span class="sr-only">{{ fee_example.base_percentage }}% Complete (warning)</span>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: {{ fee_example.percentage_percentage }}%">
              <span class="sr-only">{{ fee_example.base_percentage }}% Complete (danger)</span>
            </div>
          </div>
          <table class="table table-condensed">
            <tr>
              <td>Your contribution towards the Wish List</td>
              <td style="text-align:right">${{ fee_example.amount|floatformat:2 }}</td>
            </tr>
            <tr>
              <td>Transaction fee (base)</td>
              <td style="text-align:right">${{ PAYMENT_TRANSACTION_AMOUNT|floatformat:2 }}</td>
            </tr>
            <tr>
              <td>Transaction fee (percentage)</td>
              <td style="text-align:right">${{ fee_example.percentage|floatformat:2 }}</td>
            </tr>
            <tr>
              <td><b>Total debited on your card:</b></td>
              <td style="text-align:right"><b>${{ fee_example.total|floatformat:2 }}</b></td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal (days-left) -->
  <div class="modal fade" id="days-left" tabindex="-1" role="dialog" aria-labelledby="about-days-left" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="about-days-left">About the Days Left</h4>
        </div>
        <div class="modal-body">
          <p>
          The count down of number of days left <b>starts when the first contribution comes in</b>.
          </p>
          <p>
          Then, if the total item price <b>not reached within 30 days</b> the Wish List is stopped (no new contributions)
          and all contributions made so far are <b>refunded</b>.
          </p>

          {% if first_payment %}
          <p>
            This item had a first contribution of <b class="price">${{ first_payment.amount|floatformat:2 }}</b> on
            <b>{{ first_payment.added|date:"D d N Y - H:i" }} UTC</b> which means this Wish List has <b>{{ days_left }} days</b> left.
          </p>
          {% else %}
          <p>This item (<b>{{ item.title }}</b>) has not yet had any contributions made.</p>
          {% endif %}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <!-- Modal (days-left) -->
  <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="terms-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="terms-title">Terms of Use</h4>
        </div>
        <div class="modal-body">
	  {% include "main/_terms.html" %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
<script type="text/javascript">
  balanced.init('{{ balanced_marketplace_uri }}');
</script>
{% compress js %}
<script src="{{ STATIC_URL }}main/js/wishlist.js"></script>
{% endcompress %}
<script async src="{{ STATIC_URL }}assets/js/bootstrap.modal.min.js"></script>
{% if yours %}
<script src="{{ STATIC_URL }}main/js/sharing.js"></script>
<div id="fb-root"></div>
<script async id="facebook-jssdk" src="//connect.facebook.net/en_US/all.js#xfbml=1&appId=234777400018127"></script>
{% endif %}
{% endblock %}
