{% extends "main/base.html" %}
{% load thumbnail %}

{% block document_title %}
{% if active_items %}
Pick another item you want the most
{% else %}
Pick the one item you want the most
{% endif %}
{% endblock %}

{% block extra_head %}
<style type="text/css">
.please-wait { display: none; }
.item {
    margin-bottom: 20px;
}
.item img {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}
.offer-refresh {
    text-align: center;
    margin: 30px;
}
.skipped-items {
    margin-top: 30px;
    font-size:80%;
}
</style>
{% endblock %}

{% block main %}

      <div class="jumbotron">
        {% if active_items %}
        <h3>Pick <i>another</i> item you want the most</h3>
        {% else %}
        <h3>Pick the <i>one</i> item you want the most</h3>
        {% endif %}
      </div>


      {% if active_items %}
      <div class="row marketing">
        <h4>You currently have</h4>
        <ul>
          {% for item in active_items %}
          <li><a href="{% url 'main:wishlist' item.identifier %}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if offer_refresh %}
      <div class="row marketing offer-refresh">
        <form class="refresh" action="." method="post">{% csrf_token %}
          <h4>Don't see something you're looking for?</h4>
          <button type="submit" name="refresh" class="btn btn-primary" value="1">Refresh Your Amazon Wish List</button><br>
          <img src="{{ STATIC_URL }}main/images/spinner.gif" alt="Please wait" class="please-wait">
          <span class="please-wait">Please wait...</span>
        </form>

        <div class="form-progress progress progress-striped active" style="display:none">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
              <span class="sr-only">Processing processing processing</span>
          </div>
        </div>

      </div>
      {% endif %}

      <div class="row marketing">
        <form action="." method="post">{% csrf_token %}
        {% for item in items %}

        <div class="item clearfix">
          {% if item.picture %}
            {% thumbnail item.picture "100x100" as thumb %}
            <a href="{{ item.affiliates_url_or_url }}" target="_blank"><img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ item.height }}" alt="{{ item.title }}"></a>
            {% endthumbnail %}
          {% else %}
            <a href="{{ item.affiliates_url_or_url }}" target="_blank"><img src="{{ STATIC_URL }}main/images/no-available-image-100x100.png" alt="No Image Available"></a>
          {% endif %}
          <h4>{{ item.title }}</h4>
          <h4 class="price">${{ item.price|floatformat:2 }}</h4>
          <button type="submit" name="item" value="{{ item.identifier }}" class="btn btn-primary">Pick this one</button>
        </div>
        {% endfor %}
        </form>

      </div>

      {% if items_skipped %}
      <div class="row marketing skipped-items">
        <p>
        <b>Note!</b>
        The following items had to be skipped:
        </p>
        <ul>
          {% for thing in items_skipped %}
          <li><a href="{{ thing.url }}">{{ thing.text }}</a>
          <span class="price">${{ thing.price|floatformat:2 }}</span>
          </li>
          {% endfor %}
        </ul>
        <p>Perhaps <a href="{% url 'main:rules' %}">the Rules</a> can help.</p>
      </div>
      {% endif %}


{% endblock %}



{% block javascript %}
{{ block.super }}
{% if offer_refresh %}
<script src="{{ STATIC_URL }}main/js/pick-another.js"></script>
{% endif %}
{% endblock %}
