{% extends "main/base.html" %}

{% block document_title %}Set up your Wish List{% endblock %}

{% block extra_head %}
<link href="{{ STATIC_URL }}assets/css/prettyPhoto.css" rel="stylesheet">
<style>
.instruction { padding: 15px; }
span.email {
    font-weight: bold;
    font-size: 80%;
}
p.email-instructions {
    margin-top: 10px;
}
.jumbotron {
    padding: 20px;
}

.instructions .step {
    margin-bottom: 40px;
}
.instructions .step img {
    width: 100%;
    border: 3px solid #ccc;
    border-radius: 4px;
}

</style>
{% endblock %}

{% block main %}

      <div class="jumbotron">
        <h3>Get What You REALLY Want for Christmas</h3>
        <p class="lead">Enter your Amazon&trade; Wish List URL</p>
        <form action="." method="post">
        {% csrf_token %}
        <input type="text" name="amazon_id" class="form-control" placeholder="E.g. http://www.amazon.com/gp/registry/wishlist/4QOY1EVGY/">
        <button type="submit" class="btn btn-primary">Submit your Wish List</button>

        <div class="form-error alert alert-danger alert-dismissable" style="display:none">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Oh Snap! An error happened:</strong><br>
          <p></p>
        </div>

        <div class="form-progress progress progress-striped active" style="display:none">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
              <span class="sr-only">Processing processing processing</span>
          </div>
        </div>

        </form>

	<p class="email-instructions">
	Or, go to your <a href="http://www.amazon.com/gp/registry/wishlist/" target="_blank">www.amazon.com Wish List</a>
	and Share it by email with <span class="email">mail@inbound.wishlistgranted.com</span>
	</p>


    </div>

    <div class="row marketing">
        <p>
        Or have you <b>already set one up</b> but on a <b>different computer</b>?
        <a href="{% url 'main:find_wishlist' %}">Find your Wish List</a>
        </p>
    </div>

    <div class="row marketing">
        <div class="form-error alert alert-info alert-dismissable">
        <p>
	  <b>Tip!</b>
          You <b>need to</b> be <b>signed in on Amazon.com</b> for the "Wishlist" to appear under the "Wish List" tab.</p>
        </div>
    </div>

      <div class="row marketing instructions">

          <h2>Instructions</h2>

      <ul class="nav nav-tabs nav-justified">
        <li {% if not MOBILE %}class="active"{% endif %}><a href="#by-url-web">By URL (Web)</a></li>
        <li><a href="#by-email-web">By Email (Web)</a></li>
        <li {% if MOBILE %}class="active"{% endif %}><a href="#by-email-mobile">By Email (Mobile)</a></li>
      </ul>

        <div id="by-url-web" {% if MOBILE %}style="display:none"{% endif %} class="instruction">

	  <p style="text-align:center">
            <a href="http://www.youtube.com/watch?v=CTZ8in6u_Oc" {% if not MOBILE %}rel="prettyPhoto"{% endif %} title="Video Tutorial -  How to find your Amazon Wish List URL"
	     >Watch how-to video</a><br>
	    <a href="http://www.youtube.com/watch?v=CTZ8in6u_Oc" {% if not MOBILE %}rel="prettyPhoto"{% endif %} title="Video Tutorial -  How to find your Amazon Wish List URL"
	    ><img src="{{ STATIC_URL }}main/images/youtube-howto-200px.png" alt="YouTube" width="200"></a><br>

          </p>

          <h4>Go to your account on <a href="http://www.amazon.com" target="_blank">Amazon.com&trade;</a><br>
          Click on <b>Wish List</b> in the upper right-hand corner</h4>
          <p>
          <img src="{{ STATIC_URL }}main/images/corner.png" alt="How to get to your Wish List">
          </p>

          <p>(If you haven't already made a Wish List, you have to make one first :)</p>

          <h4>Once it's loaded, click on the address bar URL and copy that</h4>

          <p>
          <img src="{{ STATIC_URL }}main/images/url.png" alt="How to get to your Wish List">
          </p>
          <h4>Paste that (or just the Wish List ID) into the form above here on this page.</h4>


        </div>

        <div id="by-email-web" style="display:none" class="instruction">
          <p>
	    <a href="http://www.youtube.com/watch?v=e1Bdm_ZortE"
	    {% if not MOBILE %}rel="prettyPhoto"{% endif %}
	    title="Video Tutorial -  How to find to email in your Wish List"
	    ><img src="{{ STATIC_URL }}main/images/youtube-howto-2-197px.png" alt="YouTube" width="197"></a><br>
	    <a href="http://www.youtube.com/watch?v=e1Bdm_ZortE"
	    {% if not MOBILE %}rel="prettyPhoto"{% endif %}
             title="Video Tutorial - How to find to email in your Wish List"
	     >How-to on emailing it in</a>
	  </p>

        </div>

        <div id="by-email-mobile" {% if not MOBILE %}style="display:none"{% endif %} class="instruction">

          <p class="lead">The following step-by-step instructions are for setting up your Wish List
          on a iPhone by email. It will look different but should work very similarly on Android
          and any other smart phones.</p>

<div class="step">
<h4>1. Go to <a href="http://www.amazon.com" target="_blank">www.amazon.com</a></h4>
<p>You might need to sign in first to see your Wish List</p>
<img src="{{ STATIC_URL }}main/images/instructions/mobile/photo1.png" alt="Amazon.com home page">
</div>

<div class="step">
<h4>2. Click the "Share List" button</h4>
<p>Your list must be made public. If it's not you can't share it and there
should be instructions there to change your list to being public.</p>
<img src="{{ STATIC_URL }}main/images/instructions/mobile/photo2.png" alt="Your Amazon.com Wish list page">
</div>


<div class="step">
<h4>3. Click to share by "Email"</h4>
<img src="{{ STATIC_URL }}main/images/instructions/mobile/photo3.png" alt="Options how to share">
</div>

<div class="step">
<h4>4. Type in <code>mail@inbound.wishlistgranted.com</code></h4>
<p>After you have typed in the email address, note that you might need to scroll down
to see the "Share via email" button.</p>
<img src="{{ STATIC_URL }}main/images/instructions/mobile/photo4.png" alt="Entering the email address">
</div>

<div class="step">
<h4>5. Check your email, click verification link</h4>
<p>It may take a couple of minutes to receive an email about the verification link.
It is sent to email address you're signed in to Amazon.com with.</p>
<img src="{{ STATIC_URL }}main/images/instructions/mobile/photo5.png" alt="Email with verification link">
</div>

<div class="step">
<h4>6. Pick your most preferred item on your Wish List</h4>
<p>Hopefully all items from your Wish List are there.</p>
<img src="{{ STATIC_URL }}main/images/instructions/mobile/photo6.png" alt="Email with verification link">
</div>

<div class="step">
<h4>7. Your Wish List is ready to be shared with friends and family</h4>
<img src="{{ STATIC_URL }}main/images/instructions/mobile/photo7.png" alt="Your finished Wish List">
</div>


      </div>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{{ STATIC_URL }}assets/js/jquery.prettyPhoto.min.js"></script>
<script src="{{ STATIC_URL }}main/js/start.js"></script>
{% endblock %}
