{% extends "main/base.html" %}
{% load thumbnail %}

{% block document_title %}
{% if yours %}
This is what I want the most
{% else %}
  This is what {{ wishlist.name_or_email }} wants the most
{% endif %}
{% endblock %}

{% block extra_head %}
{% if wishlist.verified %}
<meta property="og:title" content="This is what {{ wishlist.name_or_email }} wants the most: {{ item.title }}">
<meta property="og:description" content="{{ PROJECT_STRAPLINE }}">
{% thumbnail item.picture "200x200" as thumb %}
<meta property="og:image" content="{{ thumb.url }}">
<meta property="og:image:width" content="{{ thumb.width }}">
<meta property="og:image:height" content="{{ thumb.height }}">
{% endthumbnail %}
{% endif %}
<style type="text/css">
.please-wait,
.credit-card,
.help-block,
#thank-you,
#your-message,
form.pay .other-error,
#your-message .other-error,
#your-message-saved { display:none; }

form.pay .other-error p {
    color: red;
    font-weight: bold;
}

.share {
    font-weight: bold;
    text-align: center;
}
.share a {
    font-size: 24px;
}

#thank-you, #your-message {
    padding: 7px;
    background-color: #fff;
    /*transition: background 0.5s linear;*/
    transition: background 1.0s linear;
}
#thank-you.new, #your-message.new {
    background-color: rgb(221, 221, 221);
}

/* overrides from bootstrap */
#progress .progress {
    height: 30px;
    margin-bottom: 40px;
}
#progress .progress .label {
    font-size: 100%;
    line-height: 2.5;
}
.contributions .contribution {
    margin-bottom: 25px;
}
h2.days-left {
    text-align: center;
    margin-top: 0;
}
</style>
{% endblock %}

{% block main %}

    {% if not yours and not wishlist.verified %}
    <div class="row marketing">
        <div class="form-error alert alert-danger alert-dismissable">
        <h3>Wish List Not Verified</h3>
        <p>This Wish List has not been verified yet. Meaning the owner of it has not verified their
        email address.</p>
        </div>
    </div>
    {% endif %}

    {% if yours and not wishlist.verified %}
      {% if wishlist.verification_email_sent %}
        <div class="row marketing">
        {% include 'main/_verification_email_sent.html' %}
        </div>
      {% else %}
        {% if not wishlist.verified %}
        <div class="row marketing">
        {% include 'main/_your_name.html' %}
        </div>
        {% endif %}
      {% endif %}
    {% endif %}

      <div class="jumbotron">
        {% if yours %}
          <h2>This is what I want the most</h2>
        {% else %}
          <h2>This is what <i>{{ wishlist.name_or_email }}</i> wants the most</h2>
        {% endif %}
        {% thumbnail item.picture "200x200" as thumb %}
        <a href="{{ item.affiliates_url_or_url }}" target="_blank"><img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ item.height }}" alt="{{ item.title }}"></a>
        {% endthumbnail %}
        <h4>{{ item.title }}</h4>
        <h4 class="price">${{ item.price|floatformat:2 }}</h4>
        <p>You can read all about it on
        <a href="{{ item.affiliates_url_or_url }}" target="_blank">Amazon.com</a>
        </p>
      </div>

    <div class="row marketing" id="progress">

      <div class="{% if first_payment %}col-lg-10{% else %}col-lg-12{% endif %}">

        <h4>Progress So Far <span class="price progress-amount">${{ progress_amount|floatformat:2 }}</span>
        out of <span class="price">${{ item.price|floatformat:2 }}</span></h4>
        <div class="progress">
          <div class="progress-bar {% if progress_complete %}progress-bar-success{% else %}progress-bar-info{% endif %}" role="progressbar"
               aria-valuenow="{{ progress_percent }}" aria-valuemin="0" aria-valuemax="100"
               style="width: {{ progress_percent }}%">
            <span class="sr-only">{{ progress_percent }}%</span>
            <span class="label">{{ progress_percent }}%</span>
          </div>
        </div>

      </div>

      {% if first_payment %}
      <div class="col-lg-2">
        <h4>Days left<a data-toggle="modal" href="#days-left">?</a></h4>
        <h2 class="days-left">{{ days_left }}</h2>
      </div>
      {% endif %}

    {% if yours %}
      {% if not payments %}
        <!--<p>Changed your mind? <a href="{% url 'main:wishlist_admin' wishlist.identifier %}">Want to pick a different item?</a></p>-->
      {% endif %}

      {% if contributions %}
      <div class="contributions">
        <h3>Contributions made so far</h3>
        {% for payment in contributions %}
        <div class="contribution">
        <h4>From
          {% if payment.name and not payment.hide_name %}{{ payment.name }}{% else %}Anonymous{% endif %}
          <span class="price">${{ payment.amount|floatformat:2 }}</span></h4>
        </h4>
        {% if payment.message and not payment.hide_message %}
        <blockquote>
          <p>{{ payment.message|linebreaks }}</p>
        </blockquote>
        {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if wishlist.verified %}
      {% include 'main/_begin_sharing.html' %}
      {% endif %}

    {% else %}

      <div class="col-lg-12">

        {% if your_contributions %}
        <div class="your-contribution">
          <h3>What A Kind Person You Are!</h3>
          {% for payment in your_contributions %}
          <h4>Thank you for your contribution of
            <span class="price">${{ payment.amount|floatformat:2 }}</span>.</h4>
          {% endfor %}
        </div>
        {% endif %}

      </div>


      <div class="col-lg-12">

        <div id="thank-you">
          <h1>Thank You ...in advance</h2>
          <p>Your contribution of <b class="price amount"></b> has been accepted by
          <b>Balanced Payments&trade;</b>. You will see a charge of <b class="price actual-amount"></b>
          on you card.</p>

          <!-- this needs to depend on if it was met now or not -->
          <p class="not-yet-met">
            If the goal is not reached, your money will be refunded without any processing fees.
          </p>
          <h4>Again, Thank You!</h4>
          <p>Do you want to <a href="{% url 'main:wishlist_start' %}">Start your own Wish List</a>?</p>
        </div>

        <div id="your-message-saved">
          <h4>Your message has been saved and added to your contribution</h4>
        </div>

        <div id="your-message">
          <h2>Do you want to leave a message?</h2>
          <form action="{% url 'main:wishlist_your_message' wishlist.identifier %}" class="form-horizontal" method="post" role="form">{% csrf_token %}
          <input type="hidden" name="payment" value="">
          <div class="form-group">
            <label for="id_name" class="col-lg-4 control-label">Name:</label>
            <div class="col-lg-8">
              <input type="text" id="id_name" name="name" class="form-control" placeholder="">
              <span class="help-block"></span>
            </div>
          </div>

          <div class="form-group">
            <label for="id_message" class="col-lg-4 control-label">Message:</label>
            <div class="col-lg-8">
              <textarea id="id_message" name="message" class="form-control"></textarea>
              <span class="help-block"></span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-offset-4 col-lg-8">
              <button type="submit" class="btn btn-default btn-primary">Submit Your Message</button>
              <button type="button" class="btn btn-default skip">No thanks. Skip this</button>
              <img src="{{ STATIC_URL }}main/images/spinner.gif" alt="Please wait" class="please-wait">
              <span class="please-wait">Please wait...</span>
            </div>
          </div>

          <div class="other-error has-error">
            <h4>Some unexpected error occurred</h4>
            <p>Your payment went through and it's connected to your email address at least.</p>
            <p>Please try again a little later.</p>
          </div>

          </form>
        </div><!-- /#your-message -->

	{% if wishlist.verified %}
        <form class="form-horizontal pay" method="post" role="form">{% csrf_token %}
          {% if your_contributions %}
          <h4>Make Another Contribution</h4>
          {% else %}
          <h3>Make a Contribution</h3>
          {% endif %}
          <div class="other-error has-error">
            <h4>Some other error occurred</h4>
            <p>Your payment could not be processed at this time.</p>
            <p>Please try again a little later.</p>
          </div>
          <div class="form-group">
            <label for="id_amount" class="col-lg-4 control-label">Amount:</label>
            <div class="col-lg-6">
              <input type="text" id="id_amount" name="amount" class="form-control" placeholder="e.g. $15">
              + {{ PAYMENT_TRANSACTION_PERCENTAGE }}% + ${{ PAYMENT_TRANSACTION_AMOUNT|floatformat:2 }} transaction fee [<a data-toggle="modal" href="#transaction-fee">tell me more</a>]
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group credit-card" style="display:none">

            <div class="form-group">
              <label for="id_email" class="col-lg-4 control-label">Your Email:</label>
              <div class="col-lg-6">
                <input type="text" id="id_email" name="email" class="form-control" placeholder="your@email.com"
                 value="{% if email %}{{ email }}{% endif %}">
                <span class="help-block"><!--So you can get a receipt and if something happens with the payment--></span>
              </div>
            </div>

            <div class="form-group">
              <label for="id_card_number" class="col-lg-4 control-label">Card Number:</label>
              <div class="col-lg-6">
                <input type="text" id="id_card_number" name="card_number" class="form-control" placeholder="1234 1234 1234 1234">
                <span class="help-block"></span>
              </div>
            </div>

            <div class="form-group">
              <label for="id_expiration_month" class="col-lg-4 control-label">Expiration Date (Month):</label>
              <div class="col-lg-2">
                <input type="text" id="id_expiration_month" name="expiration_month" class="form-control" placeholder="month">
                <span class="help-block"></span>
              </div>
            </div>

            <div class="form-group">
              <label for="id_expiration_year" class="col-lg-4 control-label">Expiration Date (Year):</label>
              <div class="col-lg-2">
                <input type="text" id="id_expiration_year" name="expiration_year" class="form-control" placeholder="year">
                <span class="help-block"></span>
              </div>
            </div>

            <div class="form-group">
              <label for="id_security_code" class="col-lg-4 control-label">Security Code (CSC):</label>
              <div class="col-lg-2">
                <input type="text" id="id_security_code" name="security_code" class="form-control" placeholder="123">
                <span class="help-block"></span>
              </div>
            </div>

        {% if BALANCED_DEBUG %}
        <div class="form-error alert alert-info alert-dismissable">
          <p><b>Note!</b></p>
          <p>All payments are currently in <strong>TEST MODE</strong>.</p>
          <p>This message will go away when payments are for real.</p>
        </div>
        {% endif %}

          </div>
          <div class="form-group credit-card" style="display:none">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-default btn-primary">Submit Your Contribution</button>
              <img src="{{ STATIC_URL }}main/images/spinner.gif" alt="Please wait" class="please-wait">
              <span class="please-wait">Please wait...</span>
            </div>
          </div>

          <div class="form-group credit-card" style="display:none">
            <a href="https://www.balancedpayments.com" target="_blank"><img src="{{ STATIC_URL }}main/images/balanced-cards.png" alt="Balanced Cards"></a>
            <a href="https://www.balancedpayments.com" target="_blank"><img src="{{ STATIC_URL }}main/images/balanced-payments.png" alt="Balanced Payments"></a>
          </div>
        </form>
        {% else %}
        <p>No contributions can be made on Wish Lists that haven't yet been verified.</p>
	{% endif %}

      </div>

    {% endif %}
    </div>

  <!-- Modal (transaction-fee) -->
  <div class="modal fade" id="transaction-fee" tabindex="-1" role="dialog" aria-labelledby="about-transaction-fee" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">About the Transaction Fee</h4>
        </div>
        <div class="modal-body">
          <p>
          <a href="https://www.balancedpayments.com/" target="_blank"><b>Balanced Payments&trade;</b></a> takes care of all credit card processing.<br>
          They <b>charge us 2.9%</b> of the amount plus a <b>base of 30 cents</b> for every transaction.
          <a href="https://www.balancedpayments.com/pricing">See for yourself</a>.
          </p>
          <p>
          To also cover the <strong>shipping cost</strong> we add a <b>tiny margin</b> on top of what Balanced Payments&trade; charges.
          </p>
          <p><b>For example...</b><br>
          If you make a contribution of <b class="price">${{ fee_example.amount|floatformat:2 }}</b> towards your friends Wish List, then...
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: {{ fee_example.amount_percentage }}%">
              <span class="sr-only">{{ fee_example.amount_percentage }}% Complete (success)</span>
            </div>
            <div class="progress-bar progress-bar-warning" style="width: {{ fee_example.base_percentage }}%">
              <span class="sr-only">{{ fee_example.base_percentage }}% Complete (warning)</span>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: {{ fee_example.percentage_percentage }}%">
              <span class="sr-only">{{ fee_example.base_percentage }}% Complete (danger)</span>
            </div>
          </div>
          <table class="table table-condensed">
            <tr>
              <td>Your contribution towards the Wish List</td>
              <td style="text-align:right">${{ fee_example.amount|floatformat:2 }}</td>
            </tr>
            <tr>
              <td>Transaction fee (base)</td>
              <td style="text-align:right">${{ PAYMENT_TRANSACTION_AMOUNT|floatformat:2 }}</td>
            </tr>
            <tr>
              <td>Transaction fee (percentage)</td>
              <td style="text-align:right">${{ fee_example.percentage|floatformat:2 }}</td>
            </tr>
            <tr>
              <td><b>Total debited on your card:</b></td>
              <td style="text-align:right"><b>${{ fee_example.total|floatformat:2 }}</b></td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal (days-left) -->
  <div class="modal fade" id="days-left" tabindex="-1" role="dialog" aria-labelledby="about-days-left" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">About the Days Left</h4>
        </div>
        <div class="modal-body">
          <p>
          The count down of number of days left <b>starts when the first contribution comes in</b>.
          </p>
          <p>
          Then, if the total item price <b>not reached within 30 days</b> the Wish List is stopped (no new contributions)
          and all contributions made so far are <b>refunded</b>.
          </p>

          {% if first_payment %}
          <p>
            This item had a first contribution of <b class="price">${{ first_payment.amount|floatformat:2 }}</b> on
            <b>{{ first_payment.added|date:"D d N Y - H:i" }} UTC</b> which means this Wish List has <b>{{ days_left }} days</b> left.
          </p>
          {% else %}
          <p>This item (<b>{{ item.title }}</b>) has not yet had any contributions made.</p>
          {% endif %}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block javascript %}
{% if not yours %}
<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
<script type="text/javascript">
  balanced.init('{{ balanced_marketplace_uri }}');
</script>
{% endif %}
<script src="{{ STATIC_URL }}assets/js/jquery-1.10.2.min.js"></script>
<script src="{{ STATIC_URL }}main/js/wishlist.js"></script>
<script async src="{{ STATIC_URL }}assets/js/bootstrap.modal.min.js"></script>
{% endblock %}
