{% extends "main/base.html" %}

{% block document_title %}Management {{ PROJECT_TITLE }}{% endblock %}
{% block header %}
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Exit</a></li>
        </ul>
        <h3 class="text-muted"><a href="{% url 'manage:home' %}">Management</a></h3>
{% endblock %}

{% block container_class %}{% endblock %}

{% block footer %}
{% if request.user.is_authenticated %}
<b>{{ request.user.email }}</b>
{% else %}
Not logged in
{% endif %}
{% endblock %}


{% block javascript %}
<script src="{{ STATIC_URL }}assets/js/jquery-1.10.2.min.js"></script>
{% endblock %}
