{% extends "manage/base.html" %}

{% block extra_head %}
{% endblock %}

{% block container_class %}{% endblock %}

{% block main %}

<h3>Sent Reminders</h3>
<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th>Item</th>
      <th>To</th>
      <th>Subject</th>
      <th>Date</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    {% for sent_reminder in sent_reminders %}
    <tr>
      <td><a href="{% url 'main:wishlist' sent_reminder.item.identifier %}" title="{{ sent_reminder.item.title }}">{{ sent_reminder.item.identifier }}</a></td>
      <td>{{ sent_reminder.to }}</td>
      <td>{{ sent_reminder.subject }}</td>
      <td><a href="{% url 'manage:sent_reminder_body' sent_reminder.id %}">Click to View</a></td>
      <td>{{ sent_reminder.added }}</td>
    <tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}
