{% extends "manage/base.html" %}

{% block extra_head %}
{{ block.super }}
<style type="text/css">
div.item, div.payment {
    margin-left: 40px;
}
div.payment {
    border-bottom: 1px solid #ccc;
}
.closed h3 {
    text-decoration: line-through;
}
</style>
{% endblock %}

{% block main %}
<h3>Wishlist</h3>
<dl class="dl-horizontal">
  <dt>Identifier</dt>
  <dd>{{ wishlist.identifier }}</dd>
  <dt>Amazon ID</dt>
  <dd><a href="http://www.amazon.com/registry/wishlist/{{ wishlist.amazon_id }}">{{ wishlist.amazon_id }}</a></dd>
  <dt>Ship to</dt>
  <dd>{% if wishlist.ship_to %}{{ wishlist.ship_to }}{% endif %}</dd>
  <dt>Verified</dt>
  <dd>{{ wishlist.verified }}</dd>
  <dt>Email</dt>
  <dd>{{ wishlist.email }}</dd>
  <dt>Name</dt>
  <dd>{{ wishlist.name }}</dd>
  <dt>Added</dt>
  <dd>{{ wishlist.added }}</dd>
  <dt>Modified</dt>
  <dd>{{ wishlist.modified }}</dd>
</dl>

{% for item, info, payments in items_preferred %}
<div class="item {% if item.closed %}closed{% endif %}" id="item-{{ item.identifier }}">
<h3><a href="{{ item.affiliates_url_or_url }}">{{ item.title }}</a>
{% if item.fulfilled %}
<span class="label label-success">Fulfilled!</span>
{% endif %}
</h3>
<dl class="dl-horizontal">
  <dt>Identifier</dt>
  <dd><a href="{% url 'main:wishlist' item.identifier %}">{{ item.identifier }}</a></dd>
  <dt>Title</dt>
  <dd><a href="{{ item.url }}">{{ item.title }}</a></dd>
  {% if item.closed %}
  <dt>CLOSED</dt>
  <dd><em>{% if item.closed_notes %}{{ item.closed_notes }}{% else %}no notes{% endif %}</em></dd>
  {% endif %}
  <dt>Preference</dt>
  <dd>{{ item.preference }}</dd>
  <dt>Complete</dt>
  <dd>{% if item.complete %}Yes!{% else %}No{% endif %}</dd>
  <dt>Price</dt>
  <dd class="price">${{ item.price|floatformat:2 }}</dd>
  <dt>Collected</dt>
  <dd class="price">${{ info.progress_amount|floatformat:2 }}</dd>
  <dt>Remaining</dt>
  <dd class="price">${{ info.remaining_amount|floatformat:2 }}</dd>
  {% if item.fulfilled %}
  <dt>Fulfilled</dt>
  <dd>Yes!</dd>
  <dt>Fulfilled Notes</dt>
  <dd>{{ item.fulfilled_notes | linebreaks }}</dd>
  {% endif %}
</dl>

{% if not item.fulfilled %}
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: {{ info.progress_percent }}%">
          <span class="sr-only">{{ info.progress_percent }}%</span>
          <span class="label">{{ info.progress_percent }}%</span>
        </div>
        <div class="progress-bar progress-bar-warning" style="width: {{ info.remaining_percent }}%">
          <span class="sr-only">{{ info.remaining_percent }}% Complete (warning)</span>
        </div>
      </div>
{% endif %}


  {% for payment in payments %}
    <div class="payment">
    {% if forloop.first %}
    <h3>Payments</h3>
    {% endif %}
    <dl class="dl-horizontal">
      <dt>Amount</dt>
      <dd class="price">${{ payment.amount|floatformat:2 }}</dd>
      <dt>Actual amount</dt>
      <dd class="price">${{ payment.actual_amount|floatformat:2 }}</dd>
      <dt>Email</dt>
      <dd>{{ payment.email }}</dd>
      <dt>Name</dt>
      <dd>{{ payment.name }}</dd>
      <dt>Message</dt>
      <dd>{{ payment.message }}</dd>
      <dt>Balanced URI</dt>
      <dd><a href="{{ payment.balanced_marketplace_url }}">{{ payment.balanced_uri }}</a></dd>
      <!--<dt>Balanced Hash</dt>
      <dd>{{ payment.balanced_hash }}</dd>-->
      <dt>Added</dt>
      <dd>{{ payment.added }}</dd>
      <dt>Modified</dt>
      <dd>{{ payment.modified }}</dd>
    </dl>
    </div>
  {% endfor %}
</div>
{% endfor %}

<div class="well">
  <h4>General Action Options</h4>
  <form action="{% url 'manage:send_instructions_shipping' wishlist.identifier %}" method="post">{% csrf_token %}
  <p><button class="btn btn-primary">Send Shipping Instructions</button></p>
  </form>
  <form action="{% url 'manage:refetch_ship_to' wishlist.identifier %}" method="post">{% csrf_token %}
  <p><button class="btn btn-primary">Refetch 'Ship to'</button></p>
  </form>
</div>

{% endblock %}


{% block javascript %}
{{ block.super }}
{% endblock %}
