{% extends "signin/base.html" %}


{% block content_inner %}

    <div class="splash">
        <div class="pure-g-r">

            <div class="pure-u-2-3">
                <div class="l-box splash-text">
                    <h3>Your Account</h3>

                    <h1 class="splash-head">
                        Your Account
                    </h1>

                    <h2 class="splash-subhead">
                        Stuff
                    </h2>

                </div>
            </div>
        </div>
    </div>



{% endblock %}
